# Ignore data files
data/
activate.bat
data/perplexity_api_key
database.py
data/videos/
data/results/
tools/
models/
playground.ipynb
test_downloader.py
test_transcription.py

# Ignore virtual environment
venv/
__pycache__/
*.pyc 
.venv/